form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 20px;
}

.form-field{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5px;
}

.form-container{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
}

.form-actions{
    display: inline-block;
    cursor: pointer;
}

button{
    margin: 10px;
    width: 10%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

label{
    text-align: start;
    margin: 0px;
    font-weight: bold;
    display: block;
    
}

input {
    font: inherit;
    border-radius: 6px;
    padding: 10px;
}

textarea{
    font: inherit;
    border-radius: 6px;
    padding: 10px;
}


select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: inherit;
    border-radius: 6px;
    padding: 10px;
}