.list{
    display: flex;
    width: 100%;
    height: 100vh;
}

.listContainer{
    flex: 6;
    cursor: default;
}

.titleWrapper{
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.47);
}

.reportListTitle{
    width: 100%;
    display: flex;
    font-size: 24px;
    margin: 10px;
    justify-content: space-between;
    color: gray;
    background-color: #fff;
}

.link{
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}